#root {
    padding-left: 20px;
}

#create-room-button {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    padding: 0 15px;
    margin-top: 20px;
}

#rooms-container {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}

.room-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 40px;
    height: 150px;
    width: 200px;
    border: 1px solid;
}

p.users-in-room-label {
    font-size: 12px;
    align-self: flex-start;
    font-style: italic;
    margin-left: 5px;
}

p.room-name  {
    font-weight: bold;
    margin-top: 20px;
}

#join-room-button {
    height: 35px;
    width: 80px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    padding: 0 15px;
    margin-top: 20px;
}

/* CSS for Game page */

#game-page {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
}

#back-to-rooms-button {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    padding: 0 15px;
    margin-top: 20px;
}

#left-game-container {
    flex: 1;
}

#right-game-container {
    flex: 4;
    margin-left: 50px;
}

#game-text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border: 1px solid;
}

#game-text {
    margin: 0 100px;
    text-align: left;
}

#game-ready-button {
    font-size: 20px;
    width: 250px;

    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 20px 60px;
}


#game-users-container {
    margin-top: 30px;
}

.game-user-item {
    margin-bottom: 20px;
}

.game-user-status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.game-user-name {
    display: inline-block;
}

.user-progress-indicator {
    width: 100%;
    height: 25px;
    border: 1px solid;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
}

.user-progress-bar {
    height: 100%;
    width: 100%;
    background-color: #A3D200;
}
